<div class="row">
  <div class="col-sm-12 mt-4">
    <h1>Tasks</h1>
    <div class="list-group">
      <div *ngFor="let p of items" class="list-group-item list-group-item-action">
        <div class="d-flex flex-row w-100">
          <div class="mr-4 mt-2" (click)="markDone(p)">
            <i class="icon" [class.ion-md-checkmark]="p.completed" [class.ion-md-remove-circle-outline]="!p.completed"></i>
          </div>
          <div class="">
            <h5 class="mb-1">{{p.action}}</h5>
            <small>{{p.duedate}}</small>
          </div>
          <small class="ml-auto">{{p.duedate}}</small>
        </div>
      </div>
    </div>
  </div>