<StackLayout class="page" style="background-color: #add8e6;">
    <Image class="logo" [src]="'~/app/'+logo"></Image>
    <GridLayout rows="auto, auto, auto" *ngIf="showRegister">
        
        <GridLayout row="0" rows="*, *" columns="50, *" class="form-container">
            <Label row="0" rowSpan="2" col="0" class="ion" text="&#xf47d;" 
                style="color: black;">
            </Label>
            <Label row="0" col="1" class="upper-label" text="USERNAME"
                style="color: black;">
            </Label>
            <TextField autocapitalizationType="none" hint="username" row="1" col="1" 
                [(ngModel)]="username"
                style="color: black;"></TextField>
        </GridLayout>

        <GridLayout row="1" rows="*, *" columns="50, *" class="form-container">
            <Label row="0" rowSpan="2" col="0" class="ion" text="&#xf47d;"
                style="color: black;"></Label>
            <Label row="0" col="1" class="upper-label" text="EMAIL"
                style="color: black;"></Label>
            <TextField autocapitalizationType="none" hint="email" row="1" col="1" 
                [(ngModel)]="email"
                style="color: black;"></TextField>
        </GridLayout>
            
        <GridLayout row="2" rows="*, *" columns="50, *" class="form-container">
            <Label row="0" rowSpan="2" col="0" class="ion" text="&#xf4c8;"
                style="color: black;"></Label>
            <Label row="0" col="1" class="upper-label" text="PASSWORD"
                style="color: black;"></Label>
            <TextField secure="true" hint="password" row="1" col="1" 
                [(ngModel)]="password"
                style="color: black;"></TextField>
        </GridLayout>
            
        <ActivityIndicator rowSpan="3" [busy]="processing"></ActivityIndicator>
    </GridLayout>
    <GridLayout rows="auto, auto" *ngIf="showLogin">
        <GridLayout row="0" rows="*, *" columns="50, *" class="form-container">
            <Label row="0" rowSpan="2" col="0" class="ion" text="&#xf47d;"
                style="color: black;"></Label>
            <Label row="0" col="1" class="upper-label" text="USER"
                style="color: black;"></Label>
            <TextField autocapitalizationType="none" hint="username" row="1" col="1" 
                [(ngModel)]="username"
                style="color: black;"></TextField>
        </GridLayout>

        <GridLayout row="2" rows="*, *" columns="50, *" class="form-container">
            <Label row="0" rowSpan="2" col="0" class="ion" text="&#xf4c8;"
                style="color: black;"></Label>
            <Label row="0" col="1" class="upper-label" text="PASSWORD"
                style="color: black;"></Label>
            <TextField secure="true" hint="password" row="1" col="1" [(ngModel)]="password"
                style="color: black;"></TextField>
        </GridLayout>

        <ActivityIndicator rowSpan="3" [busy]="processing"></ActivityIndicator>
    </GridLayout>

    <Button class="login btn btn-primary" 
        [isEnabled]="!processing" 
        text="Sign in" 
        (tap)="login()">
    </Button>

    <Button class="login btn btn-primary" 
        [isEnabled]="!processing" 
        text="Register" 
        (tap)="signUp()">
    </Button>
</StackLayout>