@import "../../app-variables";

$text-color: $login-page-text-color;

.page {
  background-color: $login-page-background;
  color: $text-color;
}
.logo {
  margin-top: 20;
  height: 150;
  horizontal-align: center;
}
.h1 {
  color: $text-color;
  font-size: 28;
  text-align: center;
  margin-top: 20;
  margin-bottom: 40;
  font-weight: 300;
}

.form-container {
  height: 85;
  padding: 15 0;
  margin: 0 30;
}
.hr {
  height: 1;
  margin: 0 30;
  background-color: gray;
}
.form-container .ion {
  font-size: 32;

  margin-left: 10;
  margin-right: 10;
}
.upper-label {
  font-size: 10;

  letter-spacing: 0.1;
  font-weight: 400;
}
TextField {
  padding: 0 0 5 0;
  text-decoration: none;
  background-color: transparent;
  font-weight: 500;
}
.android TextField {
  font-weight: 300;
}

.login {
  horizontal-align: center;
  color: #ffffff;
  background-color: #ff584e;
  font-size: 14;
  border-radius: 30;
  padding: 15 0;
  font-weight: 600;
  margin-top: 40;
  width: 325;
}
button:disabled {
  opacity: 0.5;
}
.android button {
  font-weight: 400;
  text-transform: none;
  font-size: 16;
}

.or {
  font-size: 12;
  margin-top: 25;
  text-align: center;
  font-weight: 300;
}
.sign-in {
  font-size: 14;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.1;
  margin-top: 20;
}
