<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/NativeScript/SideDrawer/getting-started
-->
<RadSideDrawer [gesturesEnabled]="gesturesEnabled | async">
  <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
    <StackLayout row="0" class="sidedrawer-header" (tap)="goToSettings()">
      <Label class="sidedrawer-header-image fa" text="&#xf2bd;"></Label>
      <Label class="sidedrawer-header-brand user" [text]="user | async"></Label>
    </StackLayout>

    <ScrollView row="1">
      <StackLayout class="sidedrawer-content">
        <GridLayout columns="auto, *" class="sidedrawer-list-item" (tap)="onNavItemTap('/')" *ngIf="homePageVisible">
          <Label col="0" text="&#xf015;" class="fa"></Label>
          <Label col="1" [text]="homePageTitle" class="p-r-10"></Label>
        </GridLayout>
        <GridLayout columns="auto, *" class="sidedrawer-list-item" (tap)="onNavItemTap('/accounts')" *ngIf="accountsPageVisible">
          <Label col="0" text="&#xf2bd;" class="fa"></Label>
          <Label col="1" [text]="accountsPageTitle" class="p-r-10"></Label>
        </GridLayout>
        <GridLayout columns="auto, *" class="sidedrawer-list-item" (tap)="onNavItemTap('/products')" *ngIf="productsPageVisible">
          <Label col="0" text="&#xf0cb;" class="fa"></Label>
          <Label col="1" [text]="productsPageTitle" class="p-r-10"></Label>
        </GridLayout>
        <GridLayout columns="auto, *" class="sidedrawer-list-item" (tap)="onNavItemTap('/files')" *ngIf="filesPageVisible">
          <Label col="0" text="&#xf15c;" class="fa"></Label>
          <Label col="1" [text]="filesPageTitle" class="p-r-10"></Label>
        </GridLayout>
        <GridLayout columns="auto, *" class="sidedrawer-list-item" (tap)="onNavItemTap('/tasks')" *ngIf="tasksPageVisible">
          <Label col="0" text="&#xf0ae;" class="fa"></Label>
          <Label col="1" [text]="tasksPageTitle" class="p-r-10"></Label>
        </GridLayout>
        <GridLayout columns="auto, *" class="sidedrawer-list-item" (tap)="onNavItemTap('/chat')" *ngIf="chatPageVisible">
          <Label col="0" text="&#xf086;" class="fa"></Label>
          <Label col="1" [text]="chatPageTitle" class="p-r-10"></Label>
        </GridLayout>
        <GridLayout columns="auto, *" class="sidedrawer-list-item" (tap)="onNavItemTap('/ar')" *ngIf="arPageVisible">
          <Label col="0" text="&#xf042;" class="fa"></Label>
          <Label col="1" [text]="arPageTitle" class="p-r-10"></Label>
        </GridLayout>
        <GridLayout columns="auto, *" class="sidedrawer-list-item" (tap)="onNavItemTap('/expenses')">
          <Label col="0" text="&#xf042;" class="fa"></Label>
          <Label col="1" text="Expenses" class="p-r-10"></Label>
        </GridLayout>
      </StackLayout>
    </ScrollView>
  </GridLayout>
  <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</RadSideDrawer>