<ActionBar class="action-bar">
        <NavigationButton text="Back" android.systemIcon="ic_menu_back" (tap)="back()"></NavigationButton>
        <Label class="action-bar-title" text="Book Appointment"></Label>
</ActionBar>
<GridLayout>
    <GridLayout rows="auto,auto,auto,auto">
        <StackLayout row="0">
            <GridLayout rows="*,*" class="p-r-10 p-l-10 p-b-20 p-t-10">
                <StackLayout row="0">
                    <Label class="h3" style="color: red;"
                        [text]="placeName" row="0"
                        textWrap="true">
                    </Label>
                </StackLayout>
                <StackLayout row="1">
                    <Label class="h4" [text]="placeAddress" row="1"
                        textWrap="true">
                    </Label>
                </StackLayout>
            </GridLayout>
        </StackLayout>
        <StackLayout row="1">
            <GridLayout rows="*,*" class="p-r-10 p-l-10 p-b-20 p-t-10">
                <StackLayout row="0">
                    <Label class="h3" style="color: red;"
                        [text]="startDay">
                    </Label>
                </StackLayout>
                <StackLayout row="1">
                    <Label class="h3" style="color: red;"
                        [text]="startTime">
                    </Label>
                </StackLayout>
            </GridLayout>
        </StackLayout>
        <StackLayout row="2" class="p-r-10 p-l-10 p-b-20 p-t-10">
            <GridLayout rows="auto,auto">
                <GridLayout row="0" rows="auto"
                    columns="auto,*,*,*,*,*,*" class="p-b-10">
                    <Label row="0" col="0" text="&#xf017;" class="fa-stopwatch">
                    </Label>
                    <Label row="0" col="1" colSpan="4" 
                        class="p-l-5" text="Add to Calendar">
                    </Label>
                    <Switch checked="true" row="0" col="5" colSpan="2"></Switch>
                </GridLayout>
                <GridLayout row="1" rows="auto"
                    columns="auto,*,*,*,*,*,*" class="p-b-10">
                    <Label row="1" col="0" text="&#xf0ae;"></Label>
                    <Label class="p-l-5" 
                        row="1" col="1" colSpan="4" text="Send Email Reminder">
                    </Label>
                    <Switch row="1" col="5" colSpan="2" checked="true"></Switch>
                </GridLayout>
            </GridLayout>
        </StackLayout>
        <StackLayout row="3" class="p-r-10 p-l-10 p-b-20 p-t-10">
            <Button class="btn btn-primary btn-active" 
                text="Book This Appointment"
                (tap)="bookAppointmentTap()">
            </Button>
        </StackLayout>
    </GridLayout>
</GridLayout>