// Import the theme’s variables. If you’re using a color scheme
// other than “light”, switch the path to the alternative scheme,
// for example '~nativescript-theme-core/scss/dark'.
@import "~nativescript-theme-core/scss/light";

//cool color: #383741;
$main-color: #383741;
$login-page-text-color: white;
$login-page-background: $main-color;

$login-button-background-color: #ff584e;
//$login-button-background-color: #0080c2;
$logged-in-user-color: white;

$ab-color: $white;
$ab-background: $main-color;
$side-drawer-header-background: $main-color;
