/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~ionicons/dist/css/ionicons.css";
@import "app-variables";

@font-face {
  font-family: "Nunito-Regular";
  src: url("/assets/Nunito-Regular.ttf");
}

body {
  font-family: Nunito-Regular;
}
.popup {
  opacity: 0.9;
}

.k-grid-content .k-button {
  margin: 0;
}


.title {
  position: relative;
  top: 4px;
  font-weight: lighter;
}

.selected {
  background-color: darken($main-color, 10%);
  border-bottom: 2px solid #ff6358;
}
.menu-item {
  color: white !important;
}

.menu-item i::before {
  position: relative;
  top: 3px;
}

.menu-logo {
  font-size: 1.5em;
  color: white;
}

.my-nav {
  background-color: $main-color !important;
}
